@model IEnumerable<Barometer.Models.FillList>
@{
    ViewBag.Title = "Vul de vragenlijst in:";
    ViewBag.Tag = "FillList";
}

<h2>@ViewBag.Title</h2>

<p>
    @ViewBag.ex
</p>

<div class="@ViewBag.Tag">
    <form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="text">Vul de vragenlijst in:</label></td>
        </tr>
    </table>
    <table>
@foreach (var i in Model) {
    <tr>
        <td>
            @i.SubjectQuestions.Subject;
        </td>
        <td>
            @i.SubjectQuestions.Id;
        </td>
    </tr>
}
</table>
</form>
</div>