@model IEnumerable<Barometer.Models.FillList>
@{
    ViewBag.Title = "Vul de vragenlijst in:";
    ViewBag.Tag = "FillList";
}

<h2>@ViewBag.Title</h2>

<p>
    @ViewBag.ex
</p>

<div class="@ViewBag.Tag">
    <form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">
    <table>
        <tr>
            <td><label for="text">Vul de vragenlijst in:</label></td>
        </tr>
    </table>
    <table>
@*@foreach (var i in Model) {*@
@for (var i = 0; i < Model.ToArray().Length; i++ )
{
    <tr>
        <td><b>
            @if (i == 0)
            {
                @Model.ElementAt(i).SubjectQuestions.Subject
            }
            else
            { 
                if (Model.ElementAt(i).SubjectQuestions.Id != Model.ElementAt(i-1).SubjectQuestions.Id)
                {
                    @Model.ElementAt(i).SubjectQuestions.Subject
                }
            }
        </b></td>
        <td>
            @Model.ElementAt(i).Question.Name
        </td>
    </tr>
}
</table>
</form>
</div>