@model IEnumerable<Barometer.Models.FillList>
@{
    ViewBag.Title = "Vul de beoordeling in:";
    ViewBag.Tag = "FillList";
}

<h2>@ViewBag.Title</h2>

<p>
    @ViewBag.ex
</p>

<div class="@ViewBag.Tag">
    Geselecteerde student: @(((Barometer.Models.Student)Session["SelectedStudent"]).FirstName) @(((Barometer.Models.Student)Session["SelectedStudent"]).LastName)<br /><br />
    <form name="@ViewBag.Tag" action="ConfirmGrades" method=post enctype="multipart/form-data">
    <table>
@for (var i = 0; i < Model.ToArray().Length; i++ )
{
    if ((i == 0) || (Model.ElementAt(i).SubjectQuestions.Id != Model.ElementAt(i - 1).SubjectQuestions.Id))
    {
        <tr><td>&nbsp;</td></tr>
    }
    <tr>
        <td>
                
            @if (i == 0)
            {
                <b>@Model.ElementAt(i).SubjectQuestions.Subject </b>
            }
            else if (Model.ElementAt(i).SubjectQuestions.Id != Model.ElementAt(i-1).SubjectQuestions.Id)
            {
                <b>@Model.ElementAt(i).SubjectQuestions.Subject </b>
            }
        </td>
        <td>
            @Model.ElementAt(i).Question.Name
        </td>
        <td>
            <select name="@(Model.ElementAt(i).SubjectQuestions.Id)-@(Model.ElementAt(i).Question.Id)">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </td>
    </tr>
    }
        
</table>
         <input type="submit" name="submitButton" value="Verstuur" onclick="doSomething()" />
</form>
</div>