@model IEnumerable<Barometer.Models.SelectStudentModel>

@{
    ViewBag.Title = "Selecteer Student";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("FillList", "Student", FormMethod.Post, new { id = "selectStudent" }))
{
    <text>
        Groep: @Model.First().ProjectGroup.ClassCode <br /><br />
        Kies de student die je wilt beoordelen<br />
    </text>
    @Html.AntiForgeryToken()
    <select name="student">
        @foreach (Barometer.Models.SelectStudentModel s in @Model)
        {
            <Text><option value="@s.Student.Studentnr">@s.Student.FirstName @s.Student.LastName</option></text>
        }
    </select><br />
    <input type="submit" value="Selecteer" />
}