@model IEnumerable<Barometer.Models.SelectStudentModel>

@{
    if (Model.Count() == 0)
    {
        ViewBag.Title = "Geen project gevonden";
    }
    else
    { 
        ViewBag.Title = "Selecteer Student";
    }
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("FillList", "Student", FormMethod.Post, new { id = "selectStudent" }))
{
    if (Model.Count() == 0)
    {
        <text>
            Er zijn geen lopende projecten gevonden.<br />
            Als je denkt dat dit een fout is, neem dan contact op met je projectdocent.
        </text>    
    }
    else
    { 
        <text>
            Project: @Model.First().Project.Name<br />
            Groep: @Model.First().ProjectGroup.ClassCode <br />
            Beoordeling voor week @Model.First().Week<br /><br />
            Kies de student die je wilt beoordelen<br />
        </text>
        @Html.AntiForgeryToken()
        <select name="student">
            @foreach (Barometer.Models.SelectStudentModel s in @Model)
            {
                <Text><option value="@s.Student.Studentnr">@s.Student.FirstName @s.Student.LastName</option></text>
            }
        </select><br /><br />
        <input type="submit" value="Selecteer" />
    }
}