<!--
Requiments:
Stap 4: Projectdocent geeft elke projectgroep een Tutor. Door bij elke projectgroep de naam van hun
tutor te selecteren.
1.4.1 Het systeem weet welke docenten ook als tutor voorkomen
1.4.2 De gebruiker kan nieuwe tutor toevoegen
1.4.3 De gebruiker kan elk projectgroep een tutor toewijzen
 1.4.3.1 Het systeem geeft een lijst van tutors waar de gebruiker uit kan kiezen
1.4.4 Het systeem registreert het nieuwe project
 1.4.4.1 Het systeem onthoudt de projectgroepen in het nieuwe project
 1.4.4.2 Het systeem onthoudt de link tussen tutor en projectgroep
1.4.5 Het systeem meldt als een projectgroep nog geen tutor heeft
-->
@model IEnumerable<Barometer.Models.Student>
@{
    ViewBag.Title = "Laat voortgang student zien";
    ViewBag.Tag = "showstats";
}


@section Styles {
    <link href="@Url.Content("~/Content/pages/showstats.css")" rel="stylesheet" type="text/css" />
}
@section Scripts {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jqBarGraph.js")"></script>
}

<h2>@ViewBag.Title</h2>

<div class="@ViewBag.Tag">

    <form method="post" action="" enctype="multipart/form-data">
        <table>
            <tr>
                <td> Zoek </td>
                <td> <input name="searchTerm" type="text" /> </td>
                <td> <input type="submit" value="Toon Student" /> </td>
            </tr>
        </table>
    </form>


    @{
        if (Model != null) { 
            if (Model.Count() == 1)
            {
                <div class="studentinfo">
                    <table>
                        <tr>
                            <td class="title">Naam:</td>
                            <td>@Model.First().FirstName @Model.First().LastName </td>
                        </tr>
                        <tr>
                            <td class="title">Studentnummer:</td>
                            <td>@Model.First().Studentnr</td>
                        </tr>
                    </table>
                </div>

                <div id="multiGraph"></div>



                <div id="stackedGraph"></div>

                <script>
                    studentGrades = new Array(
                            [[7, 4, 5, 3, 5, 6, 6], 'Project Archer'],
                            [[5, 6, 7, 4, 5, 6, 5], 'Project Barometer'],
                            [[7, 4, 5, 8, 6, 8, 7], 'Project C#'],
                            [[8, 6, 7, 5, 6, 7, 8], 'Project Delphi'],
                            [[5, 6, 7, 8, 6, 7, 8], 'Project Elephant'],
                            [[6, 9, 6, 8, 7, 7, 6], 'Project Food']
                        );



                    $("#multiGraph").jqBarGraph({
                        data: studentGrades,
                        colors: ['#67000d', '#cc4c02', '#cb181d', '#993404', '#ef3b2c', '#662506', '#fb6a4a'],
                        legends: ['Kennis van/over vaardigheden', 'Inzet/motivatie', 'Inzicht eigen functioneren',
                                'Samenwerken', 'Schriftelijk communiceren', 'Mondeling communiceren', 'Projectmatig werken']
                    });

                </script>
            }
            else if(Model.Count() > 1)
            {
                <table>
                    <tr>
                        <td>
                            Studentnummer
                        </td>
                        <td>
                            Naam
                        </td>
                    </tr>
                    @foreach(var s in Model){
                    <tr>
                        <td>
                            @s.Studentnr                                  
                        </td>
                        <td>
                            @s.FirstName @s.LastName
                        </td>
                    </tr>    
                    }
                </table>
            }
        }
        else
        {
            <p><br />Geen student geselecteerd</p>
        }

    }

    <div class="clear">&nbsp;</div>
    <div class="buttons">
        <form name="@ViewBag.Tag" action="#" method="post">
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
        </form>
    </div>

</div>