@{

}
@section Styles {
    <link href="@Url.Content("~/Content/pages/about.css")" rel="stylesheet" type="text/css" />
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<br />
@ViewBag.Alex <a href="mailto:ac.vandoorn@student.avans.nl">ac.vandoorn@student.avans.nl</a>
<br />
@ViewBag.Benny <a href="mailto:b.bijl@student.avans.nl">b.bijl@student.avans.nl</a>
<br />
@ViewBag.Bryan <a href="mailto:bjlc.schreuder@student.avans.nl">bjlc.schreuder@student.avans.nl</a>
<br />
@ViewBag.Jeroen <a href="mailto:jw.broekhuizen@student.avans.nl">jw.broekhuizen@student.avans.nl</a>
<br />
@ViewBag.Joep <a href="mailto:jjc.vandenbroek@student.avans.nl">jjc.vandenbroek@student.avans.nl</a>
<br />
@ViewBag.Luuk <a href="mailto:lah.debruin@student.avans.nl">lah.debruin@student.avans.nl</a>
<br />
@ViewBag.Solo <a href="mailto:sm.schekermans@student.avans.nl">sm.schekermans@student.avans.nl</a>
<br />
@ViewBag.Thomas <a href="mailto:tjw.voogt@student.avans.nl">tjw.voogt@student.avans.nl</a>


