@model IEnumerable<Barometer.Models.ProjectGroup>

@{
    ViewBag.Title = "Wijs tutor aan projectgroep toe";
    ViewBag.Tag = "addtutortogroup";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/addtutortogroup.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddTutorToGroup", "ProjectDocent", FormMethod.Post))
{      
    <div><b>@ViewBag.ProjectName</b></div>
    foreach(var item in Model){
      <div>
          @Html.DropDownList("Tutors")
          &raquo; @item.ClassCode<br />
      </div>  
    
    }   
    
    <div class="buttons">
       <input type="submit" value="Accepteer" />
    </div>

}
    

@*<form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">
    @foreach(var item in Model)
    {
    <div class="groups">
        <select name="@item.Id">
            @foreach (Barometer.Models.Teacher tutor in ViewBag.Tutors)
            {                
                <option value="@tutor.Id">@tutor.FirstName, @tutor.LastName</option>
            }
        </select>
        &raquo; @item.ClassCode<br />
    </div>
    }      
    <div class="clear"></div>
    <div class="buttons">       
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
    </div>
</form>*@
