@model IEnumerable<Barometer.Models.ProjectGroup>
<!--
Requiments:
Stap 4: Projectdocent geeft elke projectgroep een Tutor. Door bij elke projectgroep de naam van hun 
tutor te selecteren.
1.4.1 Het systeem weet welke docenten ook als tutor voorkomen
1.4.2 De gebruiker kan nieuwe tutor toevoegen
1.4.3 De gebruiker kan elk projectgroep een tutor toewijzen
 1.4.3.1 Het systeem geeft een lijst van tutors waar de gebruiker uit kan kiezen
1.4.4 Het systeem registreert het nieuwe project
 1.4.4.1 Het systeem onthoudt de projectgroepen in het nieuwe project
 1.4.4.2 Het systeem onthoudt de link tussen tutor en projectgroep
1.4.5 Het systeem meldt als een projectgroep nog geen tutor heeft
-->

@{
    ViewBag.Title = "Wijs tutor aan projectgroep toe";
    ViewBag.Tag = "addtutortogroup";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/addtutortogroup.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("AddTutorTotGroup", "ProjectDocent", FormMethod.Post))
{
    <div>
        Tutors
        @Html.DropDownList("Tutors");
    </div>
    <p>
       <input type="submit" value="Accepteer" />
    </p>

}
    

@*<form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">
    @foreach(var item in Model)
    {
    <div class="groups">
        <select name="@item.Id">
            @foreach (Barometer.Models.Teacher tutor in ViewBag.Tutors)
            {                
                <option value="@tutor.Id">@tutor.FirstName, @tutor.LastName</option>
            }
        </select>
        &raquo; @item.ClassCode<br />
    </div>
    }      
    <div class="clear"></div>
    <div class="buttons">       
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
    </div>
</form>*@
