<!--
Stap 7: Projectdocent stelt de beoordelingsmomenten in
1.7.1 De gebruiker kan de beoordelingsmomenten instellen
 1.7.1.1 De gebruiker kan het aantal beoordelingsmomenten instellen
 1.7.1.2 De gebruiker kan voor elke beoordelingsmoment een weeknummer invullen
1.7.2 Het systeem weet voor elke beoordelingsmoment wat de begindatum is vanwege de weeknummer
1.7.3 Het systeem onthoudt de beoordelingsmomenten
 1.7.3.1 Het systeem koppelt de beoordelingsmomenten aan het huidige project
-->

@{
    ViewBag.Title = "Bepaal invulmomenten";
    ViewBag.Tag = "determinefilldates";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/determinefilldates.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("DetermineFillDates2", "ProjectDocent", FormMethod.Post))
{
    <div>@ViewBag.ProjectName</div>
        @:Project startdatum <input name="startdate" type="text" class="datepicker" id="startdate" /><br />
        <span class="enddate">Project einddatum <input name="enddate" type="text" class="datepicker" id="enddate" /></span><br />
        <span class="fillmoments">Aantal invulmomenten <span class="fillselect"></span></span><br />
        <span class="filldate">Invul weken <span class="filldateselect"></span></span>

        <div class="buttons">
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
        </div>
}

@*<div class="@ViewBag.Tag">

    <form name="@ViewBag.Tag" action="#" method="post">
        <div>@ViewBag.ProjectName</div>
        Project startdatum <input type="text" class="datepicker" id="startdate" /><br />
        <span class="enddate">Project einddatum <input type="text" class="datepicker" id="enddate" /></span><br />
        <span class="fillmoments">Aantal invulmomenten <span class="fillselect"></span></span><br />
        <span class="filldate">Invul weken <span class="filldateselect"></span></span>

        <div class="buttons">
            <button type="submit">Accepteer</button>
            <button type="submit">Ga terug</button>
        </div>

   </form>

</div>*@

@section Scripts{
 <script>
    $(function () {
        $(".datepicker").datepicker(
        {
            dateFormat: "dd-mm-yy",
            dayNamesMin: ["Zo", "Ma", "Di", "Wo", "Do", "Vr", "Za"],
            firstDay: 1,
            minDate: 0
        });
    });
</script>
    <script>
        $(document).ready(function () {
            $("#startdate").change(function () {

                var startDate = $("#startdate").datepicker("getDate");

                $("#enddate").datepicker("option", "minDate", $("#startdate").datepicker("getDate"));
                $(".enddate").fadeIn(400);
            });
        });
</script>
<script>
    $(document).ready(function () {
        $("#enddate").change(function () {
            var startDate = $("#startdate").datepicker("getDate");
            var endDate = $("#enddate").datepicker("getDate");
            var dayDiff = (Math.abs((startDate - endDate) / 86400000));

            $(".fillselect").empty();

            var weekNumbers = Math.abs(dayDiff / 7);

            var sel = $("<select  onchange=\"callFillmoments(this);\">").appendTo($(".fillselect"));
            for (var i = 0; i < weekNumbers; i++) {
                if (i == 0) {
                    sel.append($("<option>").attr('value', i).text(" "));
                }
                else {
                    sel.append($("<option>").attr('value', i).text(i));
                }
            }

            $(".fillmoments").fadeIn(400);
        });
    });
</script>
<script>
    function callFillmoments(value) {
        var aantal = value.value;
        var startDate = $("#startdate").datepicker("getDate");
        var endDate = $("#enddate").datepicker("getDate");
        var dayDiff = (Math.abs((startDate - endDate) / 86400000));

        $(".filldateselect").empty();

        var weekNumbers = Math.abs(dayDiff / 7);

        for (var i = 0; i < aantal; i++) {
            var sel = $("<select name='" + i +"'>").appendTo($(".filldateselect"));
            for (var x = 0; x < weekNumbers; x++) {
                sel.append($("<option>").attr('value', x).text(x));
            }
        }

        $(".filldate").fadeIn(400);
    }
</script>
}