@{
    ViewBag.Title = "Maak nieuw project aan";
    ViewBag.Tag = "makeproject";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/makeproject.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<div class="@ViewBag.Tag">

    @*<form name="@ViewBag.Tag" action="#" method="post">

        <div class="inputtitle">
            Naam project<br />
            Voeg project groepen toe<br /><br />
        </div>

        <div class="input">
            <input type="text" autofocus="autofocus" /><br />
            <button>Importeer Excel bestand</button><br />
            <button type="submit">Maak project aan</button>
        </div>

    </form>*@

    <form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">

    <div class="projectname">
        <label for="text">Naam voor nieuw project:</label>
        <input type="text" name="projectName" value="" />
    </div>  
    <div>
        <label for="file">Importeer CSV bestand:</label>         
        <input type="file" name="file" id="file" />
    </div>   
    <div>
        <input type="submit" value="Maak project aan" />
    </div>
        
    

</form>

</div>