<!--
Requirements:
Stap 1: Projectdocent maakt nieuw project aan
1.1.1 De gebruiker kan nieuwe project aanmaken
 1.1.1.1 De gebruiker moet rechten hebben voor het maken van een nieuwe project
1.1.2 De gebruiker kan het nieuwe project een naam geven
Stap 2: Project docent importeert excel-bestand met de projectgroepen
1.2.1 De gebruiker kan een bestand importeren
1.2.2 Het systeem accepteert een bestand
 1.2.2.1 het systeem herkent format
 1.2.2.2 het systeem accepteert alleen juiste format
1.2.3 het systeem kan bestand inlezen
 1.2.3.1 Het systeem kan opmerken dat het bestand corrupt is
 1.2.3.2 het systeem kan het aantal projectgroepen bereken
 1.2.3.3 het systeem kan het aantal studenten bereken
 1.2.3.4 het systeem ziet wel student in welke projectgroep behoort
1.2.4 het systeem kan melding tonen met aantal projectgroepen
-->

@{
    ViewBag.Title = "Maak nieuw project aan";
    ViewBag.Tag = "makeproject";
}

@section Styles {
    <link href="@Url.Content("~/Content/pages/makeproject.css")" rel="stylesheet" type="text/css" />
}

<h2>@ViewBag.Title</h2>

<div class="@ViewBag.Tag">

    @*<form name="@ViewBag.Tag" action="#" method="post">

        <div class="inputtitle">
            Naam project<br />
            Voeg project groepen toe<br /><br />
        </div>

        <div class="input">
            <input type="text" autofocus="autofocus" /><br />
            <button>Importeer Excel bestand</button><br />
            <button type="submit">Maak project aan</button>
        </div>

    </form>*@

    <form name="@ViewBag.Tag" action="#" method=post enctype="multipart/form-data">

    <div>
        <label for="text">Naam voor nieuw project:</label>
        <input type="text" name="projectName" value="" />
    </div>  
    <div>
        <label for="file">Importeer CSV bestand:</label>         
        <input type="file" name="file" id="file" />
    </div>   
    <div>
        <input type="submit" value="Maak project aan" />
    </div>
        
    

</form>

</div>